.header {
    width: 100vw;
    height: 80px;
    background-color: var(--color-green);
    position: relative;
}

.header_logo {
    position: absolute;
    top: 7px;
    left: calc(50vw - 400px);
    width: 130px;
    min-width: 130px;
    cursor: pointer;
}

.header_textcontainer {
    position: absolute;
    top: 28px;
    left: calc(50vw + 165px);
    display: flex;
    flex-wrap: nowrap;
    color: var(--color-white);
    font-size: 20px;
}

.header_text {
    color: #F2F2F2;
    margin: 0px 10px;
    cursor: pointer;
}

#hamburger {
    display: none;
}

/* if screen width below 1215px */
@media (max-width: 1215px) {

    .header {
        width: 100vw;
        height: 80px;
        background-color: var(--color-green);
        position: relative;
    }
    
    .header_logo {
        position: absolute;
        top: 7px;
        left: calc(10px);
    }
    
    .header_textcontainer {
        position: absolute;
        top: 28px;
        left: calc(100vw - 395px);
        display: flex;
        flex-wrap: nowrap;
    }
    
    .header_text {
        color: #F2F2F2;
        width: fit-content;
        margin: 0px 10px;
    }
}

@media (max-width: 540px) {

    .header_textcontainer {
        display: none;
    }

    #hamburger {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        cursor: pointer;
    }

    .header_text {
        color: #000000;
        font-size: 22px;
        text-align: center;
        padding: 19.3px 0px;
        width: auto;
        margin: 0px;
    }
}