.header {
    width: 100vw;
    height: 80px;
    /* background-color: var(--color-green); */
    background-image: linear-gradient(to right, #002B51, #E94E24);
    position: relative;
}

.oekocap_header_logo {
    position: absolute;
    top: 7px;
    left: calc(50vw - 378px);
    left: 10px;
    width: 130px;
    min-width: 130px;
    cursor: pointer;
}

.header_textcontainer {
    position: absolute;
    top: 28px;
    left: calc(50vw - 240.7px);
    display: flex;
    flex-wrap: nowrap;
    color: var(--color-white);
    font-size:18px;
}

.header_text {
    color: #F2F2F2;
    margin: 0px 10px;
    cursor: pointer;
}

.cu_header_logo {
    position: absolute;
    top: -67px;
    /* left: calc(50vw + 220px); */
    left: calc(100vw - 110px);
    width: 130px;
    min-width: 130px;
    cursor: pointer;
}

#hamburger {
    display: none;
}

@media (max-width: 780px) {

    .header_textcontainer {
        display: none;
    }

    #hamburger {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        cursor: pointer;
    }

    .header_text {
        color: #000000;
        font-size: 22px;
        text-align: center;
        padding: 19.3px 0px;
        width: auto;
        margin: 0px;
    }

    .cu_header_logo {
        position: absolute;
        top: 2px;
        /* left: calc(50vw + 220px); */
        left: calc(100vw - 110px);
        width: 130px;
        min-width: 130px;
        cursor: pointer;
    }
}