.waste_type_select {
    margin: 20px 10px 10px 10px;
}

.waste_size_checkbox {
    margin-bottom: 20px;
}

.waste_coarse_text {
    margin: 10px 0px 0px 10px;
    width: fit-content;
}
@media (max-width: 500px) {
    .waste_coarse_text {
        width: calc(100vw - 40px - 10px);
    }
}

.waste_coarse_text_disabled {
    opacity: 40%;
}

.waste_fine_text {
    margin: 30px 0px 0px 10px;
    width: fit-content;
}
@media (max-width: 500px) {
    .waste_fine_text {
        width: calc(100vw - 40px - 10px);
    }
}
