.fiber_text {
    margin: 30px 10px 0px 10px;
}

.fiber_percentage {
    top: 180px;
}

.coarse_text {
    margin: 40px 10px 0px 10px;
}

.coarse_percentage {
    top: 334px;
}

.fine_text {
    margin: 0px 10px 0px 10px;
}

.fine_percentage {
    top: 417px;
}