.waste_type_select {
    margin: 20px 10px 10px 10px;
}

.waste_fvc_text {
    margin: 20px 10px 0px 10px;
}

.waste_fvc_percentage {
    top: 160px;
}

.waste_coarse_text {
    margin: 10px 10px 0px 10px;
}

.waste_coarse_percentage {
    top: 235px;
}

.waste_fine_text {
    margin: 10px 10px 0px 10px;
}

.waste_fine_percentage {
    top: 310px;
}
