.textile_type_select {
    margin: 20px 10px 10px 10px;
}

.textile_ml_text {
    margin: 30px 0px 0px 10px
}

.textile_throughput_select {
    margin:20px 10px 10px 10px;
}

.textile_aw_select {
    margin: 25px 10px 20px 10px;
}