.input_area {
    width: var(--content-width);
    margin: 0px calc((100vw - var(--content-width)) / 2) 30px calc((100vw - var(--content-width)) / 2);
    min-height: calc(100vh - 80px - 205px - 177.5px - 30px); /*total height - header h - subheader h - footer h - margin-bottom*/;
    /* overflow-y: visible;
    overflow-x: hidden; */
    position: relative;
}
@media (max-width: 500px) {
    .input_area {
        width: 100vw;
        margin: 0px 0px 30px 0px;
        min-height: calc(100vh - 80px - 205px - 145px - 30px); /*total height - header h - subheader h - footer h - margin-bottom*/
    }
}

.element_plus_tooltip_wrap {
    display: flex;
}

.select_tooltip {
    margin: 20px 10px 0px 0px;
    height: fit-content;
    align-self: center;
}

.select {
    margin: 10px 10px 0px 10px;
    height: 50px;
}
.select .v-label {
    color: var(--color-grey);
    font-size: 20px;
    opacity: 1;
}

.checkbox {
    height: 30px;
}
.checkbox .v-label {
    font-size: 20px;
    color: var(--color-grey);
    opacity: 1;
}

.text {
    width: calc(var(--content-width) - 20px);
    font-size: 20px;
    color: var(--color-grey);
}

.slider {
    width: calc(var(--content-width) - 20px - 50px);
    height: 35px;
    padding: 0px 10px 0px 10px;
}
.percentage {
    position: absolute;
    right: 15px;
    font-size: 20px;
    color: var(--color-grey);
}
@media (max-width: 500px) {
    .slider {
        width: calc(100vw - 80px);
    }
}

.switch {
    margin: 0px 0px 0px 10px;
    height: 30px;
}
.switch .v-label {
    font-size: 20px;
    color: var(--color-grey);
    opacity: 1;
}

.textfield {
    height: 50px;
    margin: 30px 10px 0px 10px;
    width: calc(var(--content-width) - 20px);
}
.textfield .v-label {
    color: var(--color-grey);
    font-size: 20px;
    opacity: 1;
}
@media (max-width: 500px) {
    .textfield {
        width: auto;
    }
}
