.matrix_type_select {
    margin: 20px 10px 10px 10px;
}

.matrix_polymer_select {
    margin: 20px 10px 10px 10px;
}

.matrix_fmc_text {
    margin: 20px 0px 0px 10px;
    width: fit-content;
}
@media (max-width: 500px) {
    .matrix_fmc_text {
        width: calc(100vw - 40px - 10px);
    }
}

.matrix_iip_checkbox {
    margin: 0px 0px 15px 0px;
}