.processing_type_select {
    margin: 20px 10px 10px 10px;
}

.processing_2_type_select {
    margin:80px 10px 20px 10px;
}

.processing_ml_text {
    margin: 30px 0px 0px 10px
}

.processing_2_ml_text_disabled {
    opacity: 40%;
}

.processing_wt_select {
    margin: 80px 10px 20px 10px;
}

.processing_moi_select {
    margin: 40px 10px 20px 10px;
}

.processing_buttoncontainer {
    display: flex;
    flex-wrap: nowrap;
}
.processing_clear_buttoncontainer {
    margin: 60px 5px 20px 10px;
}
.processing_calc_buttoncontainer {
    margin: 60px 10px 20px 5px;
}
@media (max-width: 500px) {
    .processing_buttoncontainer {
        display: block;
    }
    .processing_clear_buttoncontainer {
        width: fit-content;
        margin: 0px calc((100vw - 225px)/2);
        margin-bottom: 40px;
        padding-top: 20px;
    }
    .processing_calc_buttoncontainer {
        width: fit-content;
        margin: 0px calc((100vw - 225px)/2);
        padding-bottom: 20px;
    }
}
.processing_clear_button_text {
    color: var(--color-grey);
    font-size: 25px;
}
.processing_calc_button_text {
    color: var(--color-white);
    font-size: 25px;
}
