.results_buttoncontainer {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 5px;
    margin-bottom: 10px;
}
.results_gwp_buttoncontainer {
    margin: 20px 5px 10px 10px;
}
.results_cost_buttoncontainer {
    margin: 20px 10px 10px 5px;
}
@media (max-width: 500px) {
    .results_buttoncontainer {
        display: block;
    }
    .results_gwp_buttoncontainer {
        width: fit-content;
        margin: 0px calc((100vw - 225px)/2);
        margin-bottom: 40px;
        padding-top: 20px;
    }
    .results_cost_buttoncontainer {
        width: fit-content;
        margin: 0px calc((100vw - 225px)/2);
        padding-bottom: 20px;
    }
}
.results_button_text {
    font-size: 25px;
}
.active_button_text {
    color: var(--color-white);
}
.inactive_button_text {
    color: var(--color-grey);
}

.results_benchmark_process_select {
    margin: 20px 10px 40px 10px;
}

.bar_chart {
    max-width: 480px;
    margin-bottom: 60px;
}
@media (max-width: 500px) {
    #bar_chart {
        padding: 0px 10px;
    }
}

#pie_chart {
    margin-bottom: 60px;
}

.results_process_select {
    margin: 20px 10px 40px 10px;
}