@font-face {
    font-family: "montserrat";
    src: url("../montserrat-v26-latin-regular.woff2") format("woff2");
}

@font-face {
    font-family: "montserrat_bold";
    src: url("../Montserrat-Bold.ttf") format("truetype");
}

:root {
    --content-width: 480px;

    --color-white: #FFFFFF;
    --color-lightgrey: #F2F2F2;
    --color-grey: #4a4a4a;
    --color-main: #E94E24;

    --font-montserrat: "montserrat", Arial;
    --font-montserrat-bold: "montserrat_bold", Arial;
}

/* otherwise there is unwanted whitespace on the right side on mobile */
body {
    overflow-x: hidden;
    overflow-y: auto;
    font-family: var(--font-montserrat);
    /* letter-spacing: 80pt; */
    /* font-weight: 700; */
    /* font-style: italic; */
}

body::-webkit-scrollbar {
    display: none;
}