@font-face {
    font-family: "montserrat";
    src: url("../montserrat-v26-latin-regular.woff2") format("woff2");
}

:root {
    --content-width: 480px;

    --color-white: #FFFFFF;
    --color-lightgrey: #F2F2F2;
    --color-grey: #4a4a4a;
    --color-green: #55CD89;

    --font-montserrat: "montserrat", Arial;
}

/* otherwise there is unwanted whitespace on the right side on mobile */
body {
    overflow-x: hidden;
    overflow-y: auto;
    font-family: var(--font-montserrat);
    /* font-weight: 700; */
    /* font-style: italic; */
}

body::-webkit-scrollbar {
    display: none;
}