.start_area {
    width: var(--content-width);
    margin: 0px calc((100vw - var(--content-width)) / 2) 0px calc((100vw - var(--content-width)) / 2);
    height: calc(100vh - 80px - 358px - 150px); /*total height - header h - subheader h - footer h*/
    min-height: 492px;
    align-content: center;
}
@media (max-width: 500px) {
    .start_area {
        height: calc(100vh - 80px - 205px - 150px); /*total height - header h - subheader h - footer h*/
    }
}

.start_logocontainer {
    display: flex;
    flex-wrap: nowrap;
    margin-top: calc((100vh - 80px - 358px - 157.5px - 290px) / 2);
}
@media (max-height: 1080px) {
    .start_logocontainer {
        margin-top: 97.25px;
    }
}

.start_text {
    font-size: 27px;
    text-align: center;
    padding: 0px 40px 30px 40px;
}

.start_button {
    margin: 0px calc((var(--content-width) / 2) - 90px);
}

.start_button_text {
    color: var(--color-white);
    font-size: 20px;
}
