.start_area {
    width: var(--content-width);
    margin: 0px calc((100vw - var(--content-width)) / 2) 0px calc((100vw - var(--content-width)) / 2);
    height: calc(100vh - 438px - 157.5px);
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    align-content: center;
}

.start_logocontainer {
    display: flex;
    flex-wrap: nowrap;
    margin-top: calc((100vh - 438px - 157.5px - 290px) / 2);
}

.start_text {
    font-size: 27px;
    text-align: center;
    padding: 0px 40px 30px 40px;
}

.start_button {
    margin: 0px calc((var(--content-width) / 2) - 90px);
}

.start_button_text {
    color: var(--color-white);
    font-size: 20px;
}