.subheader {
    width: 100vw;
    height: fit-content;
    background-color: var(--color-lightgrey);
    display: grid;
}

.subheader_text_1 {
    width: var(--content-width);
    margin: 25px 0px 0px calc((100vw - var(--content-width)) / 2);
    font-size: 30px;
    padding-left: 5px;
    color: var(--color-grey);
}

.subheader_text_2 {
    width: var(--content-width);
    margin: 0px 0px 0px calc((100vw - var(--content-width)) / 2);
    font-size: 45px;
    color: var(--color-main);
    font-family: var(--font-montserrat-bold);
    font-weight: 600;
    line-height: 50px;
}

.subheader_text_3_container {
    width: fit-content;
    position: relative;
}

.subheader_text_3 {
    width: fit-content;
    margin: 0px 0px 10px calc((100vw - var(--content-width)) / 2);
    font-size: 30px;
    padding-left: 5px;
    color: var(--color-grey);
}

.subheader_logo {
    width: 290px;
    min-width: 290px;
    margin: 15px auto 20px auto;
}

.start_text {
    width: 100vw !important;
    font-size: 24px !important;
    text-align: center;
    margin: 0px auto 10px auto;
    font-family: var(--font-montserrat-bold);
    font-weight: 600;
}

@media (max-width: 500px) {

    .subheader_text_1 {
        width: 100vw;
        margin: 25px 0px 0px 0px;
        font-size: 30px;
        padding-left: 0px;
        color: var(--color-grey);
        text-align: center;
    }
    
    .subheader_text_2 {
        width: 100vw;
        margin: 0px;
        color: var(--color-main);
        font-size: 45px;
        line-height: 50px;
        text-align: center;
    }

    .subheader_text_3_container {
        justify-self: center;
    }
    
    .subheader_text_3 {
        width: fit-content;
        margin: 0px 0px 10px 0px;
        font-size: 30px;
        padding-left: 0px;
        color: var(--color-grey);
        text-align: center;
    }

    .subheader_logo {
        width: 310px;
        min-width: 310px;
        margin: 20px auto 20px auto;
    }

    .start_text {
        font-size: 18px !important;
    }
}