.tooltip_container {
    display: flex;
    position: relative;
}

.tooltip {
    height: 20px;
    align-self: center;
}

.subheader_tooltip {
    position: absolute;
    right: -30px;
    top: 12.5px;
    margin: 0px;
}

.select_tooltip {
    margin: 15px 10px 0px 0px;
}

.waste_size_tooltip {
    margin: 5px 10px 0px 10px;
}

.waste_coarse_text_tooltip {
    margin: 10px 10px 0px 10px;
}

.exp_mode_tooltip {
    margin: 18px 10px 0px 10px;
}

.waste_fine_text_tooltip {
    position: relative;
    margin: 30px 10px 0px 10px;
}