.tooltip_container {
    display: flex;
    position: relative;
}

.tooltip {
    /* display: none; */
    height: 20px;
    align-self: center;
}

.v-tooltip > .v-overlay__content {
    background-color: rgba(var(--v-theme-surface-variant), 0.9) !important;
    font-size:18px !important;
}

.subheader_tooltip {
    position: absolute;
    right: -30px;
    top: 12.5px;
    margin: 0px;
}

.select_tooltip {
    margin: 15px 10px 0px 0px;
}

.textfield_tooltip {
    margin: 42px 10px 0px 0px;
}

.exp_mode_tooltip {
    margin: 18px 10px 0px 10px;
}

.waste_size_tooltip {
    margin: 5px 10px 0px 10px;
}

.waste_coarse_text_tooltip {
    margin: 10px 10px 0px 10px;
}

.waste_fine_text_tooltip {
    margin: 20px 10px 0px 10px;
}

.matrix_fiber_text_tooltip {
    margin: 20px 10px 0px 10px;
}

.matrix_insert_text_tooltip {
    margin: 10px 10px 0px 10px;
}

.textile_ml_tooltip {
    margin: 30px 10px 0px 10px;
}

.processing_ml_tooltip {
    margin: 30px 10px 0px 10px;
}