.waiting_text {
    width: auto;
    /* display: flex;
    flex-wrap: wrap; */
    font-size: 25px;
    text-align: center;
    padding: 10px 0px 30px 0px;
}

.loading_logo_entry_point {
    position: relative;
    width: fit-content;
    height: 215px;
    margin: 100px auto 0px auto;
}

.loading_img {
    width: 120px;
    height: 215px;
    position: absolute;
    top: 0px;
    left: -60px;
}

.loading_trunk_left {
    opacity: 0;
    animation-name: trunk_fade_left;
    animation-duration: 4.38s;
    animation-iteration-count: infinite;
}
@keyframes trunk_fade_left {
    0% { opacity: 0; } /* wait */
    22.83% { opacity: 0; } /* trunk_left fade in */
    30.59% { opacity: 1; } /* trunk_right fade in */
    38.35% { opacity: 1; } /* trunk_middle fade in */
    46.11% { opacity: 1; } /* leaves_left fade in */
    53.87% { opacity: 1; } /* leaves_right fade in */
    61.63% { opacity: 1; } /* leaves_middle fade in */
    69.39% { opacity: 1; } /* wait */
    92.22% { opacity: 1; } /* fade out */
    100% { opacity: 0; } /* repeat */
}

.loading_trunk_right {
    opacity: 0;
    animation-name: trunk_fade_right;
    animation-duration: 4.38s;
    animation-iteration-count: infinite;
}
@keyframes trunk_fade_right {
    0% { opacity: 0; } /* wait */
    22.83% { opacity: 0; } /* trunk_left fade in */
    30.59% { opacity: 0; } /* trunk_right fade in */
    38.35% { opacity: 1; } /* trunk_middle fade in */
    46.11% { opacity: 1; } /* leaves_left fade in */
    53.87% { opacity: 1; } /* leaves_right fade in */
    61.63% { opacity: 1; } /* leaves_middle fade in */
    69.39% { opacity: 1; } /* wait */
    92.22% { opacity: 1; } /* fade out */
    100% { opacity: 0; } /* repeat */
}

.loading_trunk_middle {
    opacity: 0;
    animation-name: trunk_fade_middle;
    animation-duration: 4.38s;
    animation-iteration-count: infinite;
}
@keyframes trunk_fade_middle {
    0% { opacity: 0; } /* wait */
    22.83% { opacity: 0; } /* trunk_left fade in */
    30.59% { opacity: 0; } /* trunk_right fade in */
    38.35% { opacity: 0; } /* trunk_middle fade in */
    46.11% { opacity: 1; } /* leaves_left fade in */
    53.87% { opacity: 1; } /* leaves_right fade in */
    61.63% { opacity: 1; } /* leaves_middle fade in */
    69.39% { opacity: 1; } /* wait */
    92.22% { opacity: 1; } /* fade out */
    100% { opacity: 0; } /* repeat */
}

.loading_leaves_left {
    opacity: 0;
    animation-name: leaves_fade_left;
    animation-duration: 4.38s;
    animation-iteration-count: infinite;
}
@keyframes leaves_fade_left {
    0% { opacity: 0; } /* wait */
    22.83% { opacity: 0; } /* trunk_left fade in */
    30.59% { opacity: 0; } /* trunk_right fade in */
    38.35% { opacity: 0; } /* trunk_middle fade in */
    46.11% { opacity: 0; } /* leaves_left fade in */
    53.87% { opacity: 1; } /* leaves_right fade in */
    61.63% { opacity: 1; } /* leaves_middle fade in */
    69.39% { opacity: 1; } /* wait */
    92.22% { opacity: 1; } /* fade out */
    100% { opacity: 0; } /* repeat */
}

.loading_leaves_right {
    opacity: 0;
    animation-name: leaves_fade_right;
    animation-duration: 4.38s;
    animation-iteration-count: infinite;
}
@keyframes leaves_fade_right {
    0% { opacity: 0; } /* wait */
    22.83% { opacity: 0; } /* trunk_left fade in */
    30.59% { opacity: 0; } /* trunk_right fade in */
    38.35% { opacity: 0; } /* trunk_middle fade in */
    46.11% { opacity: 0; } /* leaves_left fade in */
    53.87% { opacity: 0; } /* leaves_right fade in */
    61.63% { opacity: 1; } /* leaves_middle fade in */
    69.39% { opacity: 1; } /* wait */
    92.22% { opacity: 1; } /* fade out */
    100% { opacity: 0; } /* repeat */
}

.loading_leaves_middle {
    opacity: 0;
    animation-name: leaves_fade_middle;
    animation-duration: 4.38s;
    animation-iteration-count: infinite;
}
@keyframes leaves_fade_middle {
    0% { opacity: 0; } /* wait */
    22.83% { opacity: 0; } /* trunk_left fade in */
    30.59% { opacity: 0; } /* trunk_right fade in */
    38.35% { opacity: 0; } /* trunk_middle fade in */
    46.11% { opacity: 0; } /* leaves_left fade in */
    53.87% { opacity: 0; } /* leaves_right fade in */
    61.63% { opacity: 0; } /* leaves_middle fade in */
    69.39% { opacity: 1; } /* wait */
    92.22% { opacity: 1; } /* fade out */
    100% { opacity: 0; } /* repeat */
}
