:root {
    --content-width: 480px;
    --color-grey: #4a4a4a;
    --color-green: #55CD89;
}

.myappheader1 {
    width: 100vw;
    height: 80px;
    background-color: var(--color-green);
    position: relative;
}

.myappheader1logo {
    position: absolute;
    top: 7px;
    left: calc(50vw - 400px);
}

.myappheader1textcontainer {
    position: absolute;
    top: 28px;
    left: calc(50vw + 250px);
    color: #FFFFFF;
    font-size: 20px;
}

.myappheader1text {
    padding: 0px 10px;
}

.myappheader2 {
    width: 100vw;
    height: fit-content;
    background-color: #F2F2F2;
}

.myappheader2text1 {
    width: var(--content-width);
    margin: 25px calc((100vw - var(--content-width)) / 2) 0px calc((100vw - var(--content-width)) / 2);
    font-size: 30px;
    padding-left: 5px;
    color: var(--color-grey);
}

.myappheader2text2 {
    width: var(--content-width);
    margin: 0px calc((100vw - var(--content-width)) / 2);
    font-size: 70px;
    color: var(--color-green);
    line-height: 80px;
}

.myappheader2text3 {
    width: var(--content-width);
    margin: 0px calc((100vw - var(--content-width)) / 2) 10px calc((100vw - var(--content-width)) / 2);
    font-size: 30px;
    padding-left: 5px;
    color: var(--color-grey);
}

.inputarea {
    width: var(--content-width);
    margin: 0px calc((100vw - var(--content-width)) / 2) 0px calc((100vw - var(--content-width)) / 2);
    height: calc(100vh - 285px - 185px);
    overflow:scroll;
    /* background-color: pink; */
    position: relative;
}

.typeinput {
    margin: 10px 10px 0px 10px;
    height: 50px;
}
.typeinput .v-label {
    color: #FFFFFF;
    font-size: 20px;
    opacity: 1;
}

.wastesizecheckbox {
    height: 30px;
}
.wastesizecheckbox .v-label {
    font-size: 20px;
    color: var(--color-grey);
    opacity: 1;
}

.desizingcheckbox {
    height: 30px;
}
.desizingcheckbox .v-label {
    font-size: 20px;
    color: var(--color-grey);
    opacity: 1;
}

.fibertext {
    width: calc(var(--content-width) - 20px);
    margin: 30px 10px 0px 10px;
    font-size: 20px;
    color: var(--color-grey);
}

.myslider {
    width: calc(var(--content-width) - 20px - 50px);
    padding: 0px 10px 0px 10px;
}

.fiberpercentage {
    position: absolute;
    right: 15px;
    top: 182px;
}

.myswitch {
    margin: 0px 0px 0px 10px;
    height: 30px;
}
.myswitch .v-label {
    font-size: 20px;
    color: var(--color-grey);
    opacity: 1;
}

.coarsetext {
    width: calc(var(--content-width) - 20px);
    margin: 40px 10px 0px 10px;
    font-size: 20px;
    color: var(--color-grey);
}

.coarsepercentage {
    position: absolute;
    right: 15px;
    top: 336px;
}

.finetext {
    width: calc(var(--content-width) - 20px);
    margin: 0px 10px 0px 10px;
    font-size: 20px;
    color: var(--color-grey);
}

.finepercentage {
    position: absolute;
    right: 15px;
    top: 420px;
}



.myappfooter {
    width: 100vw;
    height: min-content;
    background-color: #F2F2F2;
}

.footercontent {
    width: var(--content-width);
    height: min-content;
    margin: 0px calc((100vw - var(--content-width)) / 2);
}

.footerpercentage {
    width: var(--content-width);
    text-align: right;
    font-size: 25px;
    padding-right: 15px;
    margin: 5px 0px;
    color: var(--color-grey);
}

.footerbuttoncontainer {
    display: flex;
    flex-wrap: nowrap;
    margin: 15px 0px 20px 0px;
    justify-content: space-evenly;
    color: var(--color-grey);
}

.footerbuttontext {
    font-size: 25px;
    /* width: 110px; */
}

.footercopyrighttext {
    width: var(--content-width);
    text-align: center;
    font-size: 25px;
    padding-right: 15px;
    margin: 10px 0px;
    color: var(--color-grey);
}



@media (max-width: 1215px) {

    .myappheader1 {
        width: 100vw;
        height: 80px;
        background-color: #55CD89;
        position: relative;
    }
    
    .myappheader1logo {
        position: absolute;
        top: 7px;
        left: calc(10px);
    }
    
    .myappheader1textcontainer {
        position: absolute;
        top: 28px;
        left: calc(100vw - 300px);
    }
    
    .myappheader1text {
        padding: 0px 10px;
    }
}